@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Silkscreen:wght@400;700&display=swap');


.main{
    height: 40vh;
     width:100%; 
    background: linear-gradient(90deg, rgb(211, 211, 211) 14%, rgba(9,18,121,1) 51%, rgba(227,255,0,1) 82%);    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.div {
    
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.paragraph {
    line-height: 0.6;
    font-family: 'Silkscreen', cursive;
    color: white;

}

